html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.dialog-box {
    background-color: #d2d2d2;
    position:fixed;
    padding: 10px;
}
.dialog-box__title {
    margin-top:0px;

}
.dialog-box__content {
    background-color: #f2f2f2;
    padding:5px;
}
.dialog-box__close {
    border: 2px solid white;
    background-color: tomato;
    width: 24px;
    height: 24px;
    position:absolute; top: 5px; right: 5px;
}